// Brand Colours

$brandColor1: #006372; // Blue
$brandColor2: #004985; // Dark Blue
$brandColor3: #333333; // Black

$darkColor: #373A3C;
$lightColor: #FFFFFF;
$alert: #CB3983;
$success: #476C3E;


// Brand Fonts

$brandFont1: "Open Sans", "Helvetica", sans-serif;