.btn {
    /* Rectangle */
    display: block;
    background: rgb(0,73,133);
    background: linear-gradient(90deg, #004D79 0%, #007D99 100%);
    border-radius: 4px;
    color: $lightColor;
    border: 0;
    font-family: $brandFont1;
    font-weight: 400;
    @include font-size (1.6);
    letter-spacing: 1px;
    text-align: center;
    width: auto;
    padding: 16px 50px;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
        box-shadow: inset 0 1px 4.5px #333;
        background: linear-gradient(90deg, #007D99 0%, #007D99 100%);
    }

    &:active {
        box-shadow: inset 0 1px 4.5px #333;
        background: linear-gradient(90deg, #004D79 0%, #004D79 100%);
    }

    &.btn-lg {
        @include font-size(2.8);
        padding: 34px 50px;
        margin: 0 auto;
    }
}