@import 'assets/sass/global';

* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}


body {
    display: grid;
    grid-template-rows: 100px auto;
    align-items: center;
    height: calc(100vh - 5px);
    margin: 0;
    padding: 0;
    border-top: 5px solid #fff;
    background: rgb(0,73,133);
    background: linear-gradient(29deg, rgba(0,73,133,1) 0%, rgba(29,125,151,1) 100%); 
}

.global-header {
    padding-top: 25px;
    padding-bottom: 25px;
    
    .container {
        @include media(767) {
            grid-template-columns: 2% 171px  80%  2%;
            grid-template-rows: auto;
        }
    }
}

.logo {
    display: block;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: center;
}

img {
    max-width: 100%;
}

app-root { padding-bottom: 65px; }

.container {
    display: grid;
    margin: 0 auto;
    padding: 0 5%;
    max-width: 1200px;
}

.content-container {
   

    .content-inner {
        display: grid;
        grid-template-rows: 1fr auto;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin: 0 auto;
        padding: 4% 4% 63px;
        max-width: 90%;
        max-height: 900px;
        background:#fff;
        transition: max-height 0.4s linear;
    
        @include media(600) {
            max-width: 600px;
        } 

        footer.global {
            align-self: end;
        }
    }
}

.hide {
    display: none;
}