<h1 class="dark">Set API password.</h1>
<p class="dark">Once set, you’ll need to contact support if you wish to make any changes.</p>

<div class="ms-field">

    <label for="password" class="ms-label">Password</label>
    <input type="password" [ngClass]="{'ms-input': true, 'ms-success': pwdSuccess, 'ms-error': pwdError}" name="password" id="password">

    <div class="ms-input-icons">
        <button class="ms-icon-btn ms-show-pwd" *ngIf="!showPassword"  (click)="togglePassword(this)">
            <svg width="28" height="17" viewBox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9998 15.4642C7.1185 15.4642 1.5415 8.49993 1.5415 8.49993C1.5415 8.49993 7.1185 1.53564 13.9998 1.53564C20.8812 1.53564 26.4582 8.49993 26.4582 8.49993C26.4582 8.49993 20.8812 15.4642 13.9998 15.4642Z" stroke="#007D99" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9998 12.7855C11.6068 12.7855 9.6665 10.8677 9.6665 8.49983C9.6665 6.13197 11.6068 4.21411 13.9998 4.21411C16.3929 4.21411 18.3332 6.13197 18.3332 8.49983C18.3332 10.8677 16.3929 12.7855 13.9998 12.7855Z" stroke="#007D99" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.9997 6.35718C15.1968 6.35718 16.1663 7.31718 16.1663 8.50003C16.1663 9.68289 15.1968 10.6429 13.9997 10.6429C12.8026 10.6429 11.833 9.68289 11.833 8.50003" stroke="#007D99" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <button class="ms-icon-btn ms-hide-pwd" *ngIf="showPassword" (click)="togglePassword(this)">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M19.518 8.28809C21.957 10.0521 23.5 12.0001 23.5 12.0001C23.5 12.0001 18.352 18.5001 12 18.5001C10.961 18.5001 9.95505 18.3271 8.99805 18.0361" stroke="#007D99" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.468 15.701C2.037 13.94 0.5 12 0.5 12C0.5 12 5.648 5.5 12 5.5C12.859 5.5 13.698 5.619 14.504 5.825" stroke="#007D99" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8 12C8 9.79 9.791 8 12 8" stroke="#007D99" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16 12C16 14.21 14.209 16 12 16" stroke="#007D99" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21.75 2.25L2.25 21.75" stroke="#007D99" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="24" height="24" fill="white"/>
                </clipPath>
                </defs>
            </svg> 
        </button>

        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="ms-error" *ngIf="pwdError">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.9976 11.8097C23.1036 17.8847 18.0746 22.8957 11.9996 23.0017C5.92565 23.1067 1.10665 18.2677 1.00165 12.1927C0.895645 6.11971 5.92565 1.10671 11.9996 1.00171C18.0736 0.895708 22.8926 5.73671 22.9976 11.8097V11.8097Z" stroke="#CB3983" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11.9998 13.5V6.5" stroke="#CB3983" stroke-linecap="round" stroke-linejoin="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4998 17C12.4998 17.276 12.2758 17.5 11.9998 17.5C11.7238 17.5 11.4998 17.276 11.4998 17C11.4998 16.724 11.7238 16.5 11.9998 16.5C12.2758 16.5 12.4998 16.724 12.4998 17V17Z" stroke="#CB3983" stroke-linejoin="round"/>
        </svg>  

        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="ms-success" *ngIf="pwdSuccess">
            <path d="M17 8.5L9.5 15.5L7 13" stroke="#438500" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 23.5C18.3513 23.5 23.5 18.3513 23.5 12C23.5 5.64873 18.3513 0.5 12 0.5C5.64873 0.5 0.5 5.64873 0.5 12C0.5 18.3513 5.64873 23.5 12 23.5Z" stroke="#438500" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
                              
    </div>

    <p class="input-instructions">Your password must be at least 14 characters in length and include a combination of letters, numbers and special characters (such as !@#$%^*)</p>

    <div class="error-msg" *ngIf="pwdError">
        <p class="light">Invalid Password. Follow the instructions listed above</p>
    </div>
</div>

<button class="btn" disabled>Set Password</button>